In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/movies_metadata.csv')

/Users/jyang03/.virtualenvs/ds/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2705: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
df = df[['title','genres', 'release_date', 'runtime', 'vote_average', 'vote_count']]
df.head()

,title,genres,release_date,runtime,vote_average,vote_count
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,81.0,7.7,5415.0
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,104.0,6.9,2413.0
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,101.0,6.5,92.0
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,127.0,6.1,34.0
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,106.0,5.7,173.0

In [39]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['year'] = df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

def convert_int(x):
    try:
        return int(x)
    except:
        return 0

df['year'] = df['year'].apply(convert_int)
#Drop the release_date column
df = df.drop('release_date', axis=1)

In [40]:
df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",81.0,7.7,5415.0,1995
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",101.0,6.5,92.0,1995
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",127.0,6.1,34.0,1995
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",106.0,5.7,173.0,1995

In [41]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [42]:
from ast import literal_eval

#Convert all NaN into stringified empty lists
df['genres'] = df['genres'].fillna('[]')

#Apply literal_eval to convert to the list object
df['genres'] = df['genres'].apply(literal_eval)

#Convert list of dictionaries to a list of strings
df['genres'] = df['genres'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"[Animation, Comedy, Family]",81.0,7.7,5415.0,1995
1,Jumanji,"[Adventure, Fantasy, Family]",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"[Romance, Comedy]",101.0,6.5,92.0,1995
3,Waiting to Exhale,"[Comedy, Drama, Romance]",127.0,6.1,34.0,1995
4,Father of the Bride Part II,[Comedy],106.0,5.7,173.0,1995

In [43]:
#Create a new feature by exploding genres
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

#Name the new feature as 'genre'
s.name = 'genre'

#Create a new dataframe gen_df which by dropping the old 'genres' feature and adding the new 'genre'.
gen_df = df.drop('genres', axis=1).join(s)

#Print the head of the new gen_df
gen_df.head()

       title  runtime  vote_average  vote_count  year      genre
0  Toy Story     81.0           7.7      5415.0  1995  Animation
0  Toy Story     81.0           7.7      5415.0  1995     Comedy
0  Toy Story     81.0           7.7      5415.0  1995     Family
1    Jumanji    104.0           6.9      2413.0  1995  Adventure
1    Jumanji    104.0           6.9      2413.0  1995    Fantasy

In [44]:
def build_chart(gen_df, percentile=0.8):
    #Ask for preferred genres
    print("Input preferred genre")
    genre = input()
    
    #Ask for lower limit of duration
    print("Input shortest duration")
    low_time = int(input())
    
    #Ask for upper limit of duration
    print("Input longest duration")
    high_time = int(input())
    
    #Ask for lower limit of timeline
    print("Input earliest year")
    low_year = int(input())
    
    #Ask for upper limit of timeline
    print("Input latest year")
    high_year = int(input())
    
    #Define a new movies variable to store the preferred movies. Copy the contents of gen_df to movies
    movies = gen_df.copy()
    
    #Filter based on the condition
    movies = movies[(movies['genre'] == genre) & 
                    (movies['runtime'] >= low_time) & 
                    (movies['runtime'] <= high_time) & 
                    (movies['year'] >= low_year) & 
                    (movies['year'] <= high_year)]
    
    #Compute the values of C and m for the filtered movies
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile(percentile)
    
    #Only consider movies that have higher than m votes. Save this in a new dataframe q_movies
    q_movies = movies.copy().loc[movies['vote_count'] >= m]
    
    #Calculate score using the IMDB formula
    q_movies['score'] = q_movies.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) 
                                       + (m/(m+x['vote_count']) * C)
                                       ,axis=1)

    #Sort movies in descending order of their scores
    q_movies = q_movies.sort_values('score', ascending=False)
    
    return q_movies

In [45]:
build_chart(gen_df)

Input preferred genre
Comedy
Input shortest duration
30
Input longest duration
300
Input earliest year
1926
Input latest year
2019

,title,runtime,vote_average,vote_count,year,genre,score
10309,Dilwale Dulhania Le Jayenge,190.0,9.1,661.0,1995,Comedy,8.743571
2211,Life Is Beautiful,116.0,8.3,3643.0,1997,Comedy,8.245982
351,Forrest Gump,142.0,8.2,8147.0,1994,Comedy,8.176510
18465,The Intouchables,112.0,8.2,5410.0,2011,Comedy,8.164796
1225,Back to the Future,116.0,8.0,6239.0,1985,Comedy,7.971885
22841,The Grand Budapest Hotel,99.0,8.0,4644.0,2014,Comedy,7.962389
3342,Modern Times,87.0,8.1,881.0,1936,Comedy,7.906672
732,Dr. Strangelove or: How I Learned to Stop Worr...,95.0,8.0,1472.0,1964,Comedy,7.885419
1236,The Great Dictator,125.0,8.1,756.0,1940,Comedy,7.877696
22131,The Wolf of Wall Street,180.0,7.9,6768.0,2013,Comedy,7.875197
30315,Inside Out,94.0,7.9,6737.0,2015,Comedy,7.875084
40882,La La Land,128.0,7.9,4745.0,2016,Comedy,7.864793
3189,City Lights,87.0,8.2,444.0,1931,Comedy,7.829883
883,Some Like It Hot,122.0,8.0,835.0,1959,Comedy,7.805475
38798,Captain Fantastic,119.0,7.9,1569.0,2016,Comedy,7.796903
882,The Apartment,125.0,8.1,498.0,1960,Comedy,7.778123
13724,Up,96.0,7.8,7048.0,2009,Comedy,7.777266
24455,Big Hero 6,102.0,7.8,6289.0,2014,Comedy,7.774556
1604,The Truman Show,103.0,7.8,4702.0,1998,Comedy,7.766109
4843,Amélie,122.0,7.8,3403.0,2001,Comedy,7.753461
1650,The Big Lebowski,117.0,7.8,3001.0,1998,Comedy,7.747385
1859,The Breakfast Club,97.0,7.8,2189.0,1985,Comedy,7.728539
21460,About Time,123.0,7.8,2140.0,2013,Comedy,7.726961
1100,Monty Python and the Holy Grail,91.0,7.8,1742.0,1975,Comedy,7.710988
872,Singin' in the Rain,103.0,7.9,747.0,1952,Comedy,7.694180
0,Toy Story,81.0,7.7,5415.0,1995,Comedy,7.671928
36253,Zootopia,108.0,7.7,4961.0,2016,Comedy,7.669398
1190,The Sting,129.0,7.9,639.0,1973,Comedy,7.663178
1186,Annie Hall,93.0,7.8,1044.0,1977,Comedy,7.655614
14732,3 Idiots,170.0,7.8,850.0,2009,Comedy,7.625430
...,...,...,...,...,...,...,...
17642,Spy Kids: All the Time in the World,89.0,4.4,228.0,2011,Comedy,4.737251
43003,Inspector Gadget 2,89.0,3.9,92.0,2003,Comedy,4.736463
35975,Norm of the North,86.0,4.1,124.0,2016,Comedy,4.726726
31401,Accidental Love,100.0,3.9,95.0,2015,Comedy,4.721958
2349,Texas Chainsaw Massacre: The Next Generation,95.0,3.9,96.0,1994,Comedy,4.717234
43887,George of the Jungle 2,87.0,3.9,97.0,2003,Comedy,4.712564
5367,The Master of Disguise,80.0,3.7,79.0,2002,Comedy,4.705087
20791,Scary Movie 5,86.0,4.6,813.0,2013,Comedy,4.698315
5875,Kangaroo Jack,89.0,4.3,207.0,2003,Comedy,4.689469
12449,The Love Guru,87.0,4.3,243.0,2008,Comedy,4.645790
20314,Movie 43,90.0,4.5,816.0,2013,Comedy,4.606710
7743,Police Academy: Mission to Moscow,83.0,4.1,178.0,1994,Comedy,4.594526
2605,Inspector Gadget,78.0,4.3,322.0,1999,Comedy,4.577497
22683,French Fried Vacation 3,95.0,4.1,190.0,2006,Comedy,4.572383
35328,Fifty Shades of Black,92.0,4.3,337.0,2016,Comedy,4.567467
45343,The Visitors: Bastille Day,110.0,4.0,167.0,2016,Comedy,4.548566
6333,Dumb and Dumberer: When Harry Met Lloyd,85.0,4.1,211.0,2003,Comedy,4.538058
22015,The Starving Games,83.0,4.1,219.0,2013,Comedy,4.526258
15771,Vampires Suck,82.0,4.2,326.0,2010,Comedy,4.494056
30434,The Star Wars Holiday Special,97.0,3.2,81.0,1978,Comedy,4.437728
37478,All Ladies Do It,93.0,3.8,159.0,1992,Comedy,4.432906
541,Super Mario Bros.,104.0,4.0,236.0,1993,Comedy,4.428021
19342,Piranha 3DD,83.0,4.1,319.0,2012,Comedy,4.418888
16616,Home Alone 4,89.0,3.9,239.0,2002,Comedy,4.348576
18101,Jack and Jill,91.0,4.0,619.0,2011,Comedy,4.192825
10809,Date Movie,83.0,3.6,225.0,2006,Comedy,4.146530
12358,Meet the Spartans,84.0,3.8,370.0,2008,Comedy,4.134818
9710,Son of the Mask,94.0,3.6,346.0,2005,Comedy,3.990563
12911,Disaster Movie,87.0,3.1,250.0,2008,Comedy,3.723776
11557,Epic Movie,86.0,3.2,334.0,2007,Comedy,3.677667

In [47]:
#Convert the cleaned (non-exploded) dataframe df into a CSV file and save it in the data folder
#Set parameter index to False as the index of the DataFrame has no inherent meaning.
df.to_csv('../data/metadata_clean.csv', index=False)